.starter{
    border:2px solid red;
    background-color: rgb(252, 243, 229);
}
.starter h1{
    color:blue;
    background-color: greenyellow;
}
.starter p span{
    background-color:#a3d2e2;
    border: 3px solid red;
    color:black;
}
.starter p{
    color:blue;
}
.font{
    border:9px solid yellow;
    color:blue;
}